body {
  margin: 8px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 18pt;
}

h3 {
  font-size: 12pt;
}

#results {
  font-size: 8pt; font-family: 'Space Mono', monospace;
}

.glowing-border {
  border-radius: 7px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 3px #9ecaed;
}

.glowing-border:focus { 
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.glowing-border:hover {
  background-color: lightblue;
}